/*body*/

body{
  margin: 0;
  background: #FFF8DC;
}

/*Header*/

header{
  background-image: url(image/back.png);
  height: 120px;
  color: #E6E6FA;
  border-bottom: 0.4em hsl(16, 100%, 50%) solid;
  text-align: center;
  padding: 0.5em;
}

/*section*/

section{
  margin: 2em;
  text-align: center;
}

.semaine1, .semaine2, .semaine3{
  background-image: url(image/back.png);
  width: 35%;
  margin: 2em;
  padding: 1em;
  height: 300px;
  color: #E6E6FA;
  border-radius: 10%;
  display: inline-block;
  box-shadow: 3px 3px 15px hsl(16, 100%, 50%);
}

span{
  padding: 0.2em;
  border-radius: 10%;
}

h2{
  text-align: left;
  margin: 1em auto;
  text-decoration: underline;
  text-transform: uppercase;
}

h3{
  text-align: center;
  color: hsl(16, 100%, 50%);
}

li, h4{
  padding: 0.3em;
  text-align: left;
}

.semaine1 li, .semaine2 li{
  text-decoration: line-through;
}

ol{
  background-color: #FFF8DC;
  color: black;
  height: 230px;
}

#line {
  text-decoration: line-through;
}
